<div class="container">
  <div class="text-center">
    <h3 class="title_search">エリアとジャンルで探す</h3>
    <div class="mt-4 search_box">
      <%= render "searches/search_form" %>
    </div>
    <h4 class="mt-4 sub-title">募集一覧</h4>
    <p>
      <%= link_to "新着順", articles_path(sort: "created_at DESC") %> /
      <%= link_to "古い順", articles_path(sort: "created_at ASC") %>
    </p>
    <% @articles.each do |article| %>
      <div class="card w-50 mx-auto mt-3">
        <div class="card-header">
          <%= article.area %> /
          <%= article.category %> /
          <%= link_to user_path(article.user) do %>
            <%= article.user.name %>
          <% end %>
          /
          <%= article.created_at.strftime('%Y-%m-%d') %>
        </div>
          <%= link_to article_path(article) do%>
            <p class="article_title font-weight-bold mt-1"><%= article.title %></p>
          <% end %>

        <p>
          <%= truncate(article.content, length: 50) %>
        </p>
        <p class="article_icon">
          <span id="favorite_btn_<%= article.id %>"><%= render "favorites/favorite", article: article %></span>
          <i class="far fa-eye"></i> <%= article.impressionist_count %>
        </p>
      </div>
    <% end %>
    <div class="mt-5">
      <%= paginate @articles %>
    </div>
  </div>
</div>
