<div class="container">
  <div class="text-center">
    <h3>全ての投稿</h3>
    <h5>エリアとジャンルで探す</h5>
    <h5><%= link_to "自分で募集する", new_article_path %></h5>
    <% @articles.each do |article| %>
        <div class="card w-50 mx-auto mt-4">

          <div class="card-header">

            <%= article.area %> /
            <%= article.category %> /
            <%= link_to user_path(article.user) do %>
              <%= article.user.name %>
            <% end %>
            /
            <%= article.created_at.strftime('%Y-%m-%d') %>
          </div>
          <p>
            <%= truncate(article.content, length: 50) %>
          </p>
          <p>
            いいねと閲覧数をここに<!--いいねと閲覧数 -->
          </p>

        </div>
    <% end %>

    <%= paginate @articles %>
  </div>
</div>
