<div class="table">
  <%= link_to user_path(notification.visitor) do %>
    <%= attachment_image_tag notification.visitor, :profile_image, size: "30x30" %>
  <% end %>
  <%= link_to notification.visitor.name, user_path(notification.visitor) %>さんが

  <% case notification.action %>
  <% when "follow" %>
    あなたをフォローしました
  <% when "favorite" %>
    <%= link_to "あなたの投稿", article_path(notification.article) %>にいいねしました
  <% when "comment" %>
    <% if notification.article.user_id == notification.visited.id %>
      <%= link_to "あなたの投稿", article_path(notification.article) %>
    <% else %>
      <%= link_to article_path(notification.article) do %>
        <%= notification.article.user.name %>さんの投稿
      <% end %>
    <% end %>
    にコメントしました
  <% end %>
  <%= "(#{time_ago_in_words(notification.created_at)}前)" %>
  <br>
  <p class="text-muted text-center small"><%= truncate(ArticleComment.find_by(id: notification.article_comment_id)&.comment, length: 30)  %></p>
</div>