<div class="container">
    <div class="text-center">
      <h5 class="my_name mt-5"><%= @user.name %>さんのマイページ</h5>
      <div class="introduction col-sm-11 col-md-8 col-lg-5 mx-auto mt-3">
        <p class="introduction_content"><%= @user.introduction %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mt-5">
        <div class="user_box">
          <p>
            <%= link_to follows_user_path(@user) do %>
              <i class="fas fa-users"></i> <span class="follow_count">フォロー： <%= @user.active_relationships.count %></span>
            <% end %>
          </p>
          <p>
            <%= link_to followers_user_path(@user) do %>
              <i class="fas fa-users"></i> <span class="follower_count">フォロワー： <%= @user.passive_relationships.count %></span>
            <% end %>
          </p>
          <% if user_signed_in? %>
            <p>
              <% if !current_user.me?(@user.id) && current_user.followed_by?(@user) && @user.followed_by?(current_user) %>
                <i class="fas fa-comment-dots"></i> <%= link_to "チャットする", chat_path(@user) %>
              <% end %>
            </p>
            <p>
              <% if current_user.me?(@user.id) %>
                <% if unchecked_notifications.any? %> <!-- notifications_helperから呼び出し -->
                  <span class="unchecked"><i class="far fa-lightbulb"></i></span> <%= link_to "未読の通知があります", notifications_path %>
                <% else %>
                  <span class="checked"><i class="far fa-lightbulb"></i></span> <%= link_to "未読の通知はありません", notifications_path %>
                <% end %>
              <% end %>
            </p>
          <% end %>
          <% if current_user.me?(@user.id) %>
             <p><i class="fas fa-cog"></i> <%= link_to "プロフィール更新",  edit_user_path(@user) %></p>
            <i class="fas fa-sad-tear"></i> <%= link_to "退会する", unsubscribe_user_path(@user) %>
          <% end %>
        </div>
        <div class="user_box">
          <p id="follow"><%= render "relationships/relation", user: @user %></p>
          <p>
            <%= link_to my_answer_user_path(@user) do %>
              <i class="fas fa-bolt ml-1"></i><span class="answer_link"><%= @user.name %>さんの大喜利一覧へ</span>
            <% end %>
          </p>
          <p>
            <%= link_to my_chart_user_path(@user) do %>
              <i class="fas fa-chart-line"></i> <span class="ml-1"><%= @user.name %>さんの大喜利グラフへ</span>
            <% end %>
          </p>
        </div>
      </div>


      <div class="col-sm-6 offset-sm-1 mt-5">
        <div class="text-center">
          <h5 class="sub-title">最新の投稿</h5>

          <% @articles.each do |article| %>
            <div class="card mb-4">
              <div class="card-header text-center">
                <%= article.area %> /
                <%= article.category %> /
                <%= article.user.name %> /
                <%= article.created_at.strftime('%Y-%m-%d') %>
              </div>
              <%= link_to article_path(article) do%>
                <p class="font-weight-bold mt-1"><%= article.title %></p>
              <% end %>

              <p>
                <%= truncate(article.content, length: 50) %>
              </p>
              <p class="article_icon">
                <span id="favorite_btn_<%= article.id %>"><%= render "favorites/favorite", article: article %></span>
                <i class="far fa-eye"></i> <%= article.impressionist_count %>
              </p>
            </div>
          <% end %>
        </div>
      　<%= paginate @articles %>
      </div>
    </div>

</div>