<div class="container mt-5">
  <div class="text-center">
    <h5>~ <%= @theme.content %> ~</h5>
  </div>
  <div class="col-sm-11 col-md-8 col-lg-5 mx-auto">
    <div class="answer_index">
      <p><%= @answer.content %></p>
      <span><i class="fas fa-star"></i></span><%= @all_rate %>
      <small class="offset-9"><%= link_to @answer.user.name, user_path(@answer.user) %></small>
    </div>

    <% if user_signed_in? %>
      <% unless @answer.rated_by?(current_user) %>   <!--一度評価したら評価送信できないように -->
        <%= form_with model: [@theme, @answer, @rate], local: true do |f| %>
          <div class="text-center">
            <div id="star" class="mt-5">
              <%= f.hidden_field :rate %>
            </div>
            <%= f.submit "評価をつける", class: "btn" %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <table class="table mt-5">
      <tbody id="answer_comment">
        <%= render "comments/comment", answer: @answer %>
      </tbody>
    </table>

    <%= form_with model: [@theme, @answer, @comment] do |f| %>
      <div class="form-group mt-5">
        <%= f.text_area :comment, rows:"3", class: "form-control" %>
        <%= f.submit "コメント", class: "btn btn-secondary offset-5 mt-3" %>
      </div>
    <% end %>

  </div>
</div>
<script>
  $('#star').empty(); 　/*ブラウザバック時星の数が増えないように */
  $('#star').raty({
    　number: 3,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: 'rate[rate]',
      hints: ["やや面白い", "面白い", "とても面白い"]
    });
</script>