<div class="container mt-5">
  <div class="text-center">
    <h5>~ <%= @theme.content %> ~</h5>
  </div>
  <div class="col-sm-11 col-md-8 col-lg-5 mx-auto">
    <div class="answer_index">
      <p><%= @answer.content %></p>
      <span><i class="fas fa-star"></i></span>
    </div>


    <%= form_with model: [@theme, @answer, @comment], local: true do |f| %>
      <div id="star" class="offset-4 mt-5">
        <%= f.hidden_field :rate %>
      </div>
      <%= f.submit "評価をつける", class: " btn offset-4" %>
    <% end %>

    <table class="table mt-5">
      <tbody id="answer_comment">
        <%= render "comments/comment", answer: @answer %>
      </tbody>
    </table>

    <%= form_with model: [@theme, @answer, @comment] do |f| %>
      <div class="form-group mt-5">
        <%= f.text_area :comment, rows:"3", class: "form-control" %>
        <%= f.submit "コメント", class: "btn btn-secondary offset-5 mt-3" %>
      </div>
    <% end %>

  </div>
</div>
<script>
  $('#star').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      scoreName: 'comment[rate]'
    });
</script>