<div class="wrap">
  <div id="main_visual">
    <h1>Aikata</h1>
  </div>
  <div class="text-center mt-5">
    <h3 class="title_search">エリアとジャンルで探す</h3>
    <div class="mt-4 search_box">
      <%= render "searches/search_form" %>
    </div>
    <p class="mt-3"><i class="fas fa-pencil-alt"></i> <%= link_to "自分で募集する", new_article_path, class:"link" %></p>
  </div>
  <div class="row">
    <div class="col-sm-3 offset-sm-1 mt-5">
      <div class="text-center">
        <h5><i class="fas fa-crown"></i> 大喜利ランキング <i class="fas fa-crown"></i></h5>
      </div>
      <table class="table rate_ranking">
        <tbody>
          <% @ranks.each do |rank| %>
            <tr>
              <td><%= link_to rank.user_name, user_path(rank.user) %></td>
              <td>
                <%= link_to my_answer_user_path(rank.user) do %>
                  <i class="fas fa-star"></i><%= rank.sum_rate.round %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 offset-sm-1 mt-5">
      <div class="text-center">
        <h5 class="sub-title">新着の投稿</h5>
      </div>
      <% @articles.each do |article| %>
        <div class="card mb-4 text-center">
          <div class="card-header">
            <%= article.area %> /
            <%= article.category %> /
            <%= link_to article.user.name, user_path(article.user) %> /
            <%= article.created_at.strftime('%Y-%m-%d') %>
          </div>
            <%= link_to article_path(article) do%>
              <p class="font-weight-bold mt-1"><%= article.title %></p>
            <% end %>

          <p>
            <%= truncate(article.content, length: 50) %>
          </p>
          <p class="article_icon">
            <i class="far fa-eye"></i> <%= article.impressionist_count %>
          </p>
        </div>
      <% end %>

    </div>
  </div>
</div>