<!DOCTYPE html>
<html>
  <head>
    <title>Aikata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to "Aikata", root_path, class: "header_logo mt-2 nav-link" %><!--ロゴ画像とか -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", user_path(current_user), class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "募集する", new_article_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "募集一覧", articles_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "お題一覧", themes_path, class: 'nav-link text-dark' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "募集一覧", articles_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "お題一覧", themes_path, class: 'nav-link text-dark' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <main class="mb-auto bg">
      <%= yield %>
    </main>
  </body>
</html>
